#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:

	php:
		date.timezone: Europe/Prague
		# zlib.output_compression: yes

	nette:
		application:
			errorPresenter: Error

		database:
			dsn: 'sqlite:%appDir%/../storage/database'
			debugger: false
			explain: false

		session:
			expiration: 14 days


	services:
		routerFactory: RouterFactory( %consoleMode% )
		router: @routerFactory::createRouter
		authenticator: Authenticator
		ngramsCache: Nette\Caching\Cache( Nette\Caching\Storages\FileStorage( %appDir%/../storage/precomputed_ngrams ) )

		# Models
		experiments: Experiments
		tasks: Tasks
		sentences: Sentences
		metrics: Metrics
		ngrams: CachedNGrams

		# Metrics
		bleuMetric: Bleu( @precisionMetric )
		fmeasureMetric: FMeasure( @precisionMetric, @recallMetric )
		bootstrapSampler: BootstrapSampler( 1000 )

		experimentsImporter:
			class: ExperimentsImporter
			setup:
				- setLogger( @logger )
				- setNormalizer( @normalizer )

		tasksImporter:
			class: TasksImporter(
				@experiments,
				@tasks,
				@ngrams,
				@bootstrapSampler,
				PreprocessorList( [
					@initialPreprocessor
					@ngramsPreprocessor
					@confirmedNGramsPreprocessor
					@ngramsCounterPreprocessor
				] ),
				[
					BLEU: @bleuMetric,
					PRECISION: @precisionMetric,
					RECALL: @recallMetric,
					F-MEASURE: @fmeasureMetric,
				]
			)
			setup:
				- setLogger( @logger )
				- setNormalizer( @normalizer )

		# Importers dependencies
		logger: EchoLogger
		normalizer: Normalizer
		tokenizer: Tokenizer( true )
		ngramizer: NGramizer

		# Sentences preprocessors
		initialPreprocessor: InitialPreprocessor
		ngramsPreprocessor: NGramsPreprocessor
		confirmedNGramsPreprocessor: ConfirmedNGramsPreprocessor( ConfirmedNGramsFinder() )
		ngramsCounterPreprocessor: NGramsCounterPreprocessor




	factories:
		precisionMetric: Precision
		recallMetric: Recall


production < common:

development < common:
