#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:

	php:
		date.timezone: Europe/Prague
		# zlib.output_compression: yes

	nette:
		application:
			errorPresenter: Error

		database:
			dsn: 'sqlite:%appDir%/database'
			debugger: false
			explain: false

		session:
			expiration: 14 days


	services:
		experiments: Experiments
		tasks: Tasks
		sentences: Sentences
		metrics: Metrics
		ngrams: CachedNGrams
		authenticator: Authenticator
		routerFactory: RouterFactory( %consoleMode% )
		router: @routerFactory::createRouter
		logger: EchoLogger
		normalizer: Normalizer
		tokenizer: Tokenizer( true )
		ngramizer: NGramizer
		bleuMetric: BleuMetric
		randomMetric: RandomMetric
		bootstrapSampler: BootstrapSampler( 100, 500 )

		experimentsImporter:
			class: ExperimentsImporter
			setup:
				- setLogger( @logger )
				- setNormalizer( @normalizer )

		initialPreprocessor: InitialPreprocessor
		ngramsPreprocessor: NGramsPreprocessor
		confirmedNGramsPreprocessor: ConfirmedNGramsPreprocessor( ConfirmedNGramsFinder() )
		ngramsCounterPreprocessor: NGramsCounterPreprocessor

		tasksImporter:
			class: TasksImporter(
				@experiments,
				@tasks,
				@ngrams,
				@bootstrapSampler,
				PreprocessorList( [
					@initialPreprocessor
					@ngramsPreprocessor
					@confirmedNGramsPreprocessor
					@ngramsCounterPreprocessor
				] ),
				[
					bleu: @bleuMetric,
					random: @randomMetric
				]
			)
			setup:
				- setLogger( @logger )
				- setNormalizer( @normalizer )

		cache: Nette\Caching\Cache( Nette\Caching\Storages\FileStorage( %tempDir%/cache ) )


	factories:


production < common:

development < common:
	nette:
		database:
			dsn: 'sqlite:%appDir%/database.test'
