{block #content}
<h1>New Task for {$experiment->name}</h1>

<form class="form-horizontal" method="POST" action="{plink Api:Tasks:upload}" enctype="multipart/form-data">
	<div class="control-group">
		<label class="control-label" for="name">Name</label>
		<div class="controls">
			<input type="text" id="name" name="name" class="input-block-level">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="description">Description</label>
		<div class="controls">
			<input type="text" id="description" name="description" class="input-block-level">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="translation">Translation</label>
		<div class="controls">
			<input type="file" id="translation" name="translation" class="input-block-level">
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn">Save</button>
			<input type="hidden" name="redirect" value="new" />
			<input type="hidden" name="experiment_id" value="{$experiment->id}" />
		</div>
	</div>

	{if $user->isLoggedIn()}
	<div class="alert alert-success">
		Use <code>-F "token={$user->getIdentity()->token}"</code> in your curl command if you want to use <a href="https://github.com/choko/MT-ComparEval#api-to-create-experiments-and-tasks">REST API</a> to upload your task.
	</div>
	{/if}
</form>
